html {
	color: lightsteelblue;
	background-color: black;
	font-family: dejavu sans, liberation sans, sans-serif;
}

h1, h2, h3, h4, a {
	color: royalblue;
}

a:hover {
	color: blue;
}

a:active {
	color: blueviolet;
}

a:visited {
	color: slateblue;
}
