html {
	color: lightsteelblue;
	background-color: black;
	font-family: dejavu sans, liberation sans, sans-serif;
}

h1, h2, h3, h4, a {
	color: royalblue;
}

a:visited {
	color: slateblue;
}

a:active, a.current {
	color: blueviolet;
}

a:hover {
	color: blue;
}

footer {
	font-size: 80%;
}
